.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* Añade otros estilos según tus necesidades, como colores, altura, etc. */
  }

  .contact {
    padding: 42px 140px;
    text-align: center;
    background-color: #ffffff;
}

